/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

/* color and other parameter */
#nprogress .bar {
  background: #1976D2;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}